body{
    font-family: Arial;
    background-color:aliceblue;
}
 
h1{
    color:hsl(198, 100%, 50%);
}

form{
    background-color:rgba(250, 235, 215, 0.542);
    text-align:center;
    max-width: 350px;
    margin: auto;
    padding:25px;
    border-radius:10px;
    box-shadow: 5px 5px 15px hsla(0, 0%, 0%, 0.31)
}
 
#textBox{
    width:50%;
    text-align:center;
    font-size:2em;
    border:2px solid hsla(0, 0%, 0%, 0.832);
    margin-bottom:15px;
}

label{
     font-size:1.5em;
     font-weight:bold;
}

button{
    margin-top:15px;
    background-color: hsla(0, 100%, 60%, 0.803);
    color:white;
    border:none;
    padding:10px 50px;
    border-radius:5px;
    cursor:pointer;
}

button:hover{
    background-color: hsla(0, 100%, 50%, 0.873);
}

#result{
    font-size:1.75em;
    font-weight:bold;
}